body {
    background-color: lightblue;
    background-image: url(download.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
h1 {
    color: navy;
    text-align: center;
}